html {
  background-color: #ea626d;
}

body {
  text-align: left;
  background-image: url("images/dice.jpg");
  background-size: 100%;
}

.heading-container {
  margin: 0;
  background-color: #ea626d;
}

.heading-txt {
  font-family: 'Roboto', sans-serif;
  font-size: 5rem;
  color: #f9f4f4;
  padding: 2rem 0;
  font-weight: bold;
  text-shadow: 2px 1px black;
}

.body-div {
  margin-top: 5rem;
}

.gen-div {
  text-align: center;
  margin: 0 auto 3rem auto;
  box-shadow: 2px 3px 3px black;
  width: 65%;
  padding: 1.5rem 0 3rem;
  background-color: #fcdbdb;
  border-radius: 1rem;
}

.desc-text {
  font-family: 'Lora', serif;
  font-size: 1rem;
  font-weight: bold;
  margin: 1rem 0 1.5rem;
}

.gh-link {
  color: #C82333;
}

.gh-link:hover {
  color: #ea626d;
}

.btn-group .btn {
  font-family: 'Lora',serif;
  font-size: 1.5rem;
  box-shadow: 0.5px 2px 2px black;
}

.passphrase {
  font-family: 'Roboto', sans-serif;
  font-size: 3rem;
  color: #fcdbdb;
  margin-top: 3rem;
  text-shadow: 2px 1px black;
}

.generated-str {
  font-family: 'Lora',serif;
  font-size: 2rem;
  color: white;
  margin-left: 1rem;
  text-shadow: 1px 1px black;
}

.footer-container {
  margin: 0;
  padding: 1rem;
  height: 2rem;
}
